#gbx1, #gbq, #gbu, #gb #gbq, #gb #gbu {
    top: 0 !important; 
}

#gbx3, #gbzc, #gbg6, .gb_5, .gbmlbw, #gbmplp, #gbmpiw, .gbmpala {
    display: none !important;
}

.gbmpalb {
    text-align: center !important;
}

#nav-content-container {
    top: -30px !important;
}